
.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url("/public/images/360_F_159179817_F8joMJLDzGCjFSENf7ectW43ZJ7mlXvr.jpg");
    height: 400px;
    background-position: center;
 }
 
 
 